.header-trigger {
    height: 0.859rem;
    width: 0.977rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.icon-collapse-side-bar {
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: middle;
    color: #FFFFFF;
}