@import "src/assets/styles";

:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  // nz-content {
  //   margin: 24px;
  // }
  
 

.app-layout {
  height: 100vh;

  .ant-layout-sider {
    background: #323435;
  }

  & .left-layout{
    overflow: hidden;

    & .left-layout_content{
      overflow: auto;
      margin: 0;
      height: 100vh;

      & .inner-content {
        padding: pxToRem(33) pxToRem(24) pxToRem(24) pxToRem(42);
        background: $Neutral-1;
        height: auto;
      }
    }
  }
}
