
// Color
$Neutral-1: #FFFFFF;
$Neutral-3: #F5F5F5;
$Neutral-4: #E3E3E3;
$Neutral-5: #B4B4B4;
$Neutral-6: #8C8C8C;
$Neutral-7: #5F5F5F;
$Neutral-8: #232323;
$frame-2: #0F5EDD;
$Rectangle-1691: #0FC97B;
$dark-3: #1F7B4D;

$primary-font: 'Source Sans Pro';
$secondary-font: 'Poppins';

$primary-bg: #323435;
$secondary-bg: $frame-2;

$primary-text: #2F465F;
$secondary-text: $Neutral-8;
$secondary-placeholder: $Neutral-6;
$Secondary-main-text: $frame-2;
$light-text: $Neutral-1