@import "src/assets/styles";

.card-brand-detail{
    & .card-brand-detail_header{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        justify-content: center;
        gap: pxToRem(17);

        & .card-brand-detail_header-title{}
    }
}