<div class="sidebar-logo">
  <a routerLink='/' target="_parent">
    <img src="/assets/images/logo.svg" alt="logo" />
  </a>

  <app-toggle-layout></app-toggle-layout>
</div>
<ul
  nz-menu
  nzMode="inline"
  class="sidebar-list-menu_bg sidebar-list-menu"
>
  <li
    nz-menu-item
    nz-tooltip
    class="sidebar-list-menu_bg sidebar-list-menu_item"
  >
    <span class="sidebar-list-menu_item-icon" nz-icon nzType="mail"></span>
    <span class="sidebar-list-menu_item-text" routerLink='/card-brand'>Car Brand</span>
  </li>
  <li
    nz-submenu
    class="sidebar-list-menu_bg sidebar-list-menu_item"
    nzMenuClassName="sidebar-list-menu_bg"
    nzTitle="Navigation Two"
    nzIcon="appstore"
  >
    <ul class="sidebar-list-menu_bg sidebar-list-menu_item-chidren">
      <li nz-menu-item class="sidebar-list-menu_item-chidren-item">
        <span class="sidebar-list-menu_item-text">Option 6</span>
      </li>
    </ul>
  </li>
</ul>
