<div class="sidebar-logo">
  <a href="/" target="_parent">
    <img src="/assets/images/logo.svg" alt="logo" />
  </a>

  <span
    class="header-trigger icon-colapse-side-bar"
    (click)="isCollapsed = !isCollapsed"
  >
    <span
      class="trigger"
      nz-icon
      [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
    ></span>
  </span>
</div>

<ul
  nz-menu
  nzMode="inline"
  [nzInlineCollapsed]="isCollapsed"
  class="sidebar-list-menu_bg sidebar-list-menu"
>
  <li
    nz-menu-item
    nz-tooltip
    class="sidebar-list-menu_bg sidebar-list-menu_item"
  >
    <span class="sidebar-list-menu_item-icon" nz-icon nzType="mail"></span>
    <span class="sidebar-list-menu_item-text">Car Brand</span>
  </li>
  <li
    nz-submenu
    class="sidebar-list-menu_bg sidebar-list-menu_item"
    nzMenuClassName="sidebar-list-menu_bg"
    nzTitle="Navigation Two"
    nzIcon="appstore"
  >
    <ul class="sidebar-list-menu_bg sidebar-list-menu_item-chidren">
      <li nz-menu-item class="sidebar-list-menu_item-chidren-item">
        <span class="sidebar-list-menu_item-text">Option 6</span>
      </li>
    </ul>
  </li>
</ul>
