<div class="sidebar-logo">
  <a href="/" target="_parent">
    <img src="/assets/images/logo.svg" alt="logo" />
  </a>

  <span class="header-trigger icon-colapse-side-bar" (click)="isCollapsed = !isCollapsed">
    <span
      class="trigger"
      nz-icon
      [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
    ></span>
  </span>
</div>

<ul
  nz-menu
  nzMode="inline"
  [nzInlineCollapsed]="isCollapsed"
  class="sidebar-list-menu_bg sidebar-list-menu"
>
  <li
    nz-menu-item
    nz-tooltip
    class="sidebar-list-menu_bg"
  >
    <span nz-icon nzType="mail"></span>
    <span>Navigation One</span>
  </li>
  <li nz-submenu class="sidebar-list-menu_bg" nzMenuClassName="sidebar-list-menu_bg" nzTitle="Navigation Two" nzIcon="appstore">
    <ul class="sidebar-list-menu_bg">
      <li nz-menu-item>Option 5</li>
      <li nz-menu-item>Option 6</li>
    </ul>
  </li>
</ul>