<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="
    <div class='modal-create-card-brand-header'>
        <p class='modal-create-card-brand-header_title'>
            Add Car Brand
        </p>
        <p class='modal-create-card-brand-header_description'>
            Setup new car brand
        </p>
    </div>
  "
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent>
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()">
      <div nz-row>
        <div nz-col nzSpan="24">
            <h2>Brand Logo</h2>
        </div>

        <div nz-col nzSpan="24">col-24</div>

        <div nz-col nzSpan="24">
            <h2>Brand Details</h2>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="8">Brand Name</nz-form-label>
            <nz-form-control
              [nzSpan]="14"
              nzErrorTip="Please input your username!"
            >
              <input
                nz-input
                formControlName="brand_name"
                placeholder="Input Content"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="8">Brand Status</nz-form-label>
            <nz-form-control
              [nzSpan]="14"
              nzErrorTip="Please input your username!"
            >
              <input
                nz-input
                formControlName="brand_name"
                placeholder="Input Content"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="8">Brand Description</nz-form-label>
            <nz-form-control
              [nzSpan]="14"
              nzErrorTip="Please input your username!"
            >
              <textarea
                rows="4"
                formControlName="description"
                nz-input
                placeholder="input placeholder"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="isConfirmLoading">
      Create Brand
    </button>
  </div>
</nz-modal>
