<div class="card-brand-header">
    <div class="card-brand-header_left">
        <h2 nz-typography>CAR BRANDS LIST</h2>
        
        <!-- <nz-select [(ngModel)]="selectFilterCardBrand ">
            <nz-option 
                *ngFor="let option of filterCardBrand" 
                [nzValue]="option" 
                [nzLabel]="option.label"
            ></nz-option>
        </nz-select> -->
    </div>
    <div class="card-brand-header_right">
        
    </div>
</div>

<div class="card-barnd-table">

</div>
